#search {
    width: 100%;
    padding-bottom: 20px;
}

#map-canvas {
    width: 65%;
    height: 900px;
    background-color: #ccc;
    display: absolute;
}

.heading{
  font-family: 'Fredericka the Great', cursive;
  font-size: 66px;
  color:  #F01124;
}

.places{
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 24px;
}

.searchBar{
  font-family: 'Josefin Slab', serif;
}
